# Go build artifacts
**/bin
**/dist
**/*.out

# VCS / IDE
.git
.gitignore
.vscode
.idea

# OS cruft
.DS_Store
Thumbs.db

# Tests/cache
**/coverage
**/.pytest_cache
**/node_modules

docker-compose.yml
